<app-frame>
  <ng-container class="child">
    <div class="container-fluid">
      <div class="row page-wrapper-topbar align-items-center">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Add New User</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-sm-12">
          <form>
            <div class="row main-form-wrapper" id="create-plan">
              <div class="col-md-4">
                <label>Select Roll :</label>
                <select class="form-control"></select>
              </div>
              <div class="col-md-4">
                <label>Select User Name :</label>
                <select class="form-control"></select>
              </div>
              <div class="col-md-4">
                <label>Status :</label>
                <select class="form-control"></select>
              </div>
              <div class="col-md-12">
                <h5>User Credential</h5>
              </div>
              <div class="col-md-4">
                <label>User First Name :</label>
                <input
                  type="text"
                  class="form-control"
                  name="buying-cost"
                  placeholder="Enter Your First Name"
                />
              </div>
              <div class="col-md-4">
                <label>Useer Last Name :</label>
                <input
                  type="text"
                  class="form-control"
                  name="buying-cost"
                  placeholder="Enter Your Last Name"
                />
              </div>
              <div class="col-md-4">
                <label>User Image :</label>
                <select class="form-control"></select>
              </div>
              <div class="col-md-4">
                <label>Date Of Registation :</label>
                <!-- <div class="input-group"> -->
                  <input
                    type="form-control"
                    class=""
                    name="buying-cost"
                    placeholder="12-12-21"
                  />
                  <!-- <div class="input-group-append">
                    <a class="btn btn-outline-dark"
                      ><i class="fa fa-calendar" aria-hidden="true"></i>
                    </a>
                  </div> -->
                <!-- </div> -->
              </div>
              <div class="col-md-4">
                <label>Password :</label>
                <input
                  type="text"
                  class="form-control"
                  name="buying-cost"
                  placeholder="Enter Your Password"
                />
              </div>
              <div class="col-md-4">
                <label>Status :</label>
                <select class="form-control"></select>
              </div>
              <div class="col-md-12">
                <h5>Basic Details User Name</h5>
              </div>
              <div class="col-md-4">
                <label>Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="buying-cost"
                  placeholder="Enter Your Company Name"
                />
              </div>
              <div class="col-md-4">
                <label>CRM Name</label>
                <input
                  type="text"
                  name=""
                  name="plan-validity-days"
                  class="form-control"
                  placeholder="Enter CRM Name"
                />
              </div>
              <div class="col-md-4">
                <label>Phone Number</label><br />
                <input
                  type="number"
                  class="form-control"
                  name="buying-cost"
                  placeholder="Enter Your Phone Number"
                />
              </div>

              <div class="col-md-4">
                <label>address</label>
                <input
                  type="text"
                  class="form-control"
                  name="buying-cost"
                  placeholder="Enter Your Email"
                />
              </div>
              <div class="col-md-4">
                <label>State</label>
                <select class="form-control"></select>
              </div>
              <div class="col-md-4">
                <label>S ity</label>
                <select class="form-control"></select>
              </div>

              <div class="col-md-4">
                <label>Register Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="buying-cost"
                  placeholder="Enter Register Email"
                />
              </div>
              <div class="col-md-4">
                <label>Total Number Of User :</label><br />
                <input
                  type="number"
                  class="form-control"
                  name="buying-cost"
                  placeholder="Enter Your Total Number"
                />
              </div>

              <!-- <div class="col-md-6 upload-file-style-1 full-width">
                      <label>Plan Logo</label><br />
                      <div class="upload-file-style-1">
                        <input
                          type="file"
                          name="file-upload"
                          id="file"
                          class="inputfile"
                        />
                        <label for="file">
                          <i class="lni lni-cloud-upload"></i>
                          <span>Upload file</span>
                        </label>
                      </div>
                    </div> -->
              <!-- <div class="col-md-6 sm-hidden"></div> -->
              <!-- <div class="col-md-12">
                <h4>Permission</h4>
              </div>
              <div class="col-md-6">
                <div class="container-fluid bd-example-row permisCheckbox">
                  <div class="row permisCheck">
                    <label class="mb-0 mr-2" for="vehicle1"> View</label>
                    <input
                      type="checkbox"
                      id="vehicle1"
                      name="vehicle1"
                      value="Bike"
                    />
                  </div>
                  <div class="row permisCheck">
                    <label class="mb-0 mr-2" for="vehicle1"> Addition</label>
                    <input
                      type="checkbox"
                      id="vehicle1"
                      name="vehicle1"
                      value="Bike"
                    />
                  </div>
                  <div class="row permisCheck">
                    <label class="mb-0 mr-2" for="vehicle1">
                      Modification</label
                    >
                    <input
                      type="checkbox"
                      id="vehicle1"
                      name="vehicle1"
                      value="Bike"
                    />
                  </div>
                  <div class="row permisCheck">
                    <label class="mb-0 mr-2" for="vehicle1"> Delete</label>
                    <input
                      type="checkbox"
                      id="vehicle1"
                      name="vehicle1"
                      value="Bike"
                    />
                  </div>
                </div>
              </div> -->
            </div>
            <div class="col-12 mt-5 mb-4 text-right">
              <button type="submit" class="btn btn-submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</app-frame>
