<app-frame>
  <ng-container class="child">
    <div class="dashboard container-fluid">
      <div class="row page-wrapper-topbar align-items-center">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
          </ol>
        </div>
        <!-- <div class="col text-right">
        <div class="calender-date float-right">
          <div class="input-group">
            <input
              id="txtDate"
              type="text"
              class="form-control date-input"
              readonly="readonly"
              placeholder="Date"
            />
            <label class="input-group-btn" for="txtDate">
              <span class="calender-icon"
                ><i class="lni lni-calendar"></i
              ></span>
            </label>
          </div>
        </div>
      </div> -->
      </div>
      <div class="row">
        <div class="col-12 col-xl-12 left-sec">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon suppliers text-center">
                      <i class="lni lni-users"></i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>55</h1>
                      <p class="nowrap">Total Customers</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon suppliers text-center">
                      <i class="lni lni-user"></i>
                      <!-- <i class=" fa fa-user" aria-hidden="true"></i> -->
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>220</h1>
                      <p class="nowrap">Total Users</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon partners text-center">
                      <i class="lni lni-graph"></i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>550</h1>
                      <p class="nowrap">Total Plans</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon partners text-center">
                      <i class="lni lni-cart partners"></i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>200</h1>
                      <p class="nowrap">Total Billing</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon partners text-center">
                      <i class="lni lni-cart partners"></i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>350</h1>
                      <p class="nowrap">Total Client Admin and Users</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="row page-wrapper-topbar align-items-center">
                  <div class="col col-md-12">
                    <ol class="breadcrumb borderLine">
                      <li class="breadcrumb-item custo-size">
                        Country wise Total Active
                      </li>
                    </ol>
                    <button class="refreshBtn">
                      <i class="fas fa-sync-alt"></i>
                    </button>
                    <div class="redioOption borderLine">
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Select all</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Tollfree</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Virtual</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <div class="selectItem form-control-sm">
                        <span class="redioName ">Country</span>
                        <input
                          type="radio"
                          id="html"
                          name="countryOptions"
                          value=""
                        />
                        <select name="country" id="country" class="selectorBox pr-1 form-control-sm ml-1">
                          <option value="1">India</option>
                          <option value="2">Austria</option>
                          <option value="3">Bangladesh</option>
                        </select>
                      </div>
                    </div>                   
                  </div>
                  <div class="col-sm-12 col-md-12 borderLine d-flex">
                    <div id="datatable_filter" class="dataTables_filter">
                      <label class="d-flex"
                        >Search:<input
                          type="search"
                          class="form-control form-control-sm searchInp"
                          placeholder=""
                          aria-controls="datatable"
                      /></label>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-4">
                        <button type="submit" class="btn btn-secondary">
                          GENERATE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="active_count">
                      <label class="mr-2"
                        >Total Active Number's Allover Country</label
                      >
                      <label for="">150</label>
                    </div>
                    <table
                      id="datatable"
                      class="table datatable-style-1"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Country Name</th>
                          <!-- <th>Total Active</th> -->
                          <th>Active Tollfree Numbers</th>
                          <th>Active Virtual Numbers</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>India</td>
                          <td>30</td>
                          <td>30</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Austria</td>
                          <td>20</td>
                          <td>30</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Bangladesh</td>
                          <td>25</td>
                          <td>15</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">                
                <div class="card-header pb-2">
                  <h6 class="card-title">country wise total(Active Tollfree vs Virtual)Numbers statistics Yearly</h6>
                  <div class="d-flex bd-highlight flex-wrap">
                    <div class="p-2 bd-highlight">Select Year</div>
                    <div class="p-2 bd-highlight"> 
                      <select class="ml-2 selectorBox form-select form-select-sm">
                        <option value="1">1999</option>
                        <option value="2">2020</option>
                        <option value="3" selected>2021</option>
                      </select>
                    </div>
                    <div class="p-1 bd-highlight mt-0">
                      <button type="submit" class="btn btn-secondary btn-sm">
                        GENERATE
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body p-1">
                  <div class="">
                    <div class="active_count">
                      <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [xaxis]="chartOptions.xaxis"
                      [yaxis]="chartOptions.yaxis"
                      [markers]="chartOptions.markers"
                      [dataLabels]="chartOptions.dataLabels"
                      [grid]="chartOptions.grid"
                      [stroke]="chartOptions.stroke"
                      [title]="chartOptions.title"
                    ></apx-chart>
                    </div>                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <!-- <ul class="flex-container nav nav-pills nav-fill">
                  <li class="flex-item nav-item"><input id="radio1" type="radio" name="radio" checked><label for="radio1">View All</label></li>
                  <li class="flex-item nav-item"><input id="radio2" type="radio" name="radio"><label for="radio2">Tollfree</label></li>
                  <li class="flex-item nav-item"><input id="radio3" type="radio" name="radio"><label for="radio3">Virtual</label></li>            
                </ul> -->
                <div class="card-header pb-2">
                  <h6 class="card-title">Country &amp; Customer wise Tollfree and Virtual Numbers</h6>
                  <ul class="flex-container nav nav-pills nav-fill">
                    <li class="flex-item nav-item"><input id="radio1" type="radio" name="radio" checked><label for="radio1">View All</label></li>
                    <li class="flex-item nav-item"><input id="radio2" type="radio" name="radio"><label for="radio2">Tollfree</label></li>
                    <li class="flex-item nav-item"><input id="radio3" type="radio" name="radio"><label for="radio3">Virtual</label></li>            
                  </ul>

                  <ul class="flex-container nav nav-pills nav-fill">
                    <li class="flex-item nav-item"><input id="radio4" type="radio" name="Status" checked><label for="radio4" class="lblActive">Active</label></li>
                    <li class="flex-item nav-item"><input id="radio5" type="radio" name="Status"><label for="radio5" class="lblDeActive">Deactive</label></li>
                    <li class="flex-item nav-item"><input id="radio6" type="radio" name="Status"><label for="radio6" class="lblWaitKyc">Waiting for KYC</label></li>           
                  </ul>
                  <!-- <div class="d-flex bd-highlight flex-wrap">
                    <div class="p-2 bd-highlight">Select Status</div>
                    <div class="p-2 bd-highlight"> 
                      <select class="ml-2 selectorBox form-select form-select-sm">
                        <option value="1">1999</option>
                        <option value="2">2020</option>
                        <option value="3" selected>2021</option>
                      </select>
                    </div>
                  </div> -->
                </div>
                
                <div class="card-body p-1">
                  <div class="col-xl-12">
                    <table
                      id="datatable"
                      class="table datatable-style-1"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Country Name</th>
                          <th>Customer Name</th>
                          <th>Tollfree Number</th>
                          <th>Virtual Number</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>India</td>
                          <td>Anish De</td>
                          <td>9148567325</td>
                          <td>8826549874</td>
                          <td style="color:#008000; font-weight: 600; font-size: 14px;">Active</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Austria</td>
                          <td>Rahul</td>
                          <td>9862456782</td>
                          <td>7835959548</td>
                          <td style="color:#DC143C; font-weight: 600; font-size: 14px;">Deactive</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Bangladesh</td>
                          <td>Adrija Khan</td>
                          <td>8978659866</td>
                          <td>0955786598</td>
                          <td style="color:#dba308; font-weight: 600; font-size: 14px;">Waiting for KYC</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-frame>
