<app-frame>
  <ng-container class="child">
    <div class="dashboard container-fluid">
      <div class="row page-wrapper-topbar align-items-center">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
          </ol>
        </div>
        <!-- <div class="col text-right">
        <div class="calender-date float-right">
          <div class="input-group">
            <input
              id="txtDate"
              type="text"
              class="form-control date-input"
              readonly="readonly"
              placeholder="Date"
            />
            <label class="input-group-btn" for="txtDate">
              <span class="calender-icon"
                ><i class="lni lni-calendar"></i
              ></span>
            </label>
          </div>
        </div>
      </div> -->
      </div>
      <div class="row">
        <div class="col-12 col-xl-12 left-sec">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon suppliers text-center">
                      <i class="lni lni-users"></i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>55</h1>
                      <p class="nowrap">Total Customers</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon suppliers text-center">
                      <i class="lni lni-user"></i>
                      <!-- <i class=" fa fa-user" aria-hidden="true"></i> -->
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>220</h1>
                      <p class="nowrap">Total Users</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon partners text-center">
                      <i class="lni lni-graph"></i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>550</h1>
                      <p class="nowrap">Total Plans</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon partners text-center">
                      <i class="lni lni-cart partners"></i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>200</h1>
                      <p class="nowrap">Total Billing</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="icon partners text-center">
                      <i class="lni lni-cart partners"></i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="content-wrapper">
                      <h1>350</h1>
                      <p class="nowrap">Total Client Admin and Users</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="row page-wrapper-topbar align-items-center">
                  <div class="col col-md-12">
                    <ol class="breadcrumb borderLine">
                      <li class="breadcrumb-item custo-size">
                        Country wise Total Active
                      </li>
                    </ol>
                    <button class="refreshBtn">
                      <i class="fas fa-sync-alt"></i>
                    </button>
                    <div class="redioOption borderLine">
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Select all</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Tollfree</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Virtual</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <div class="selectItem form-control-sm">
                        <span class="redioName ">Status</span>
                        <input
                          type="radio"
                          id="html"
                          name="countryOptions"
                          value=""
                        />
                        <select name="cars" id="cars" class="selectorBox pr-1 form-control-sm ml-1">
                          <option value="Active">Active</option>
                          <option value="Deactive">Deactive</option>
                          <option value="Waiting for KYC">Waiting for KYC</option>
                        </select>
                      </div>
                    </div>
                    <div class="selectOptionDiv borderLine">
                      <div class="selectOption">
                        <span class="redioName form-control-sm">Country</span>
                        <!-- <input
                        type="radio"
                        id="favRedio"
                        name="fav_language"
                        value=""
                      /> -->
                        <select
                          class="selectorBox pr-1 form-control-sm"
                        ></select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 borderLine d-flex">
                    <div id="datatable_filter" class="dataTables_filter">
                      <label class="d-flex"
                        >Search:<input
                          type="search"
                          class="form-control form-control-sm searchInp"
                          placeholder=""
                          aria-controls="datatable"
                      /></label>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-4">
                        <button type="submit" class="btn btn-secondary">
                          GENERATE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="active_count">
                      <label class="mr-2"
                        >Total Active Number's Allover Country</label
                      >
                      <label for="">150</label>
                    </div>
                    <table
                      id="datatable"
                      class="table datatable-style-1"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Country Name</th>
                          <!-- <th>Total Active</th> -->
                          <th>Active Tollfree Numbers</th>
                          <th>Active Virtual Numbers</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>India</td>
                          <td>30</td>
                          <td>30</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Austria</td>
                          <td>20</td>
                          <td>30</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Bangladesh</td>
                          <td>25</td>
                          <td>15</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="row page-wrapper-topbar align-items-center">
                  <div class="col col-md-12">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item borderLine custo-size">
                        Customer/country wise total(Active Tollfree vs
                        Virtual)lines
                      </li>
                    </ol>
                    <button class="refreshBtn">
                      <i class="fas fa-sync-alt"></i>
                    </button>
                    <div class="redioOption borderLine">
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Select all</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <!-- <div class="selectItem form-control-sm">
                      <span class="redioName">Active line</span>
                      <input
                        type="radio"
                        id="html"
                        name="filter"
                        value=""
                      />
                    </div> -->
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Tollfree</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <div class="selectItem form-control-sm">
                        <span class="redioName nowrap">Virtual</span>
                        <input type="radio" id="html" name="filter" value="" />
                      </div>
                      <div class="selectItem form-control-sm">
                        <span class="redioName">Status</span>
                        <input
                          type="radio"
                          id="html"
                          name="countryOptions"
                          value=""
                        />
                        <select name="cars" id="cars" class="selectorBox pr-1 form-control-sm ml-1">
                          <option value="Active">Active</option>
                          <option value="Deactive">Deactive</option>
                          <option value="Waiting for KYC">Waiting for KYC</option>
                        </select>
                      </div>
                    </div>
                    <div class="borderLine">
                      <div class="redioOption">
                        <div class="sel-opt">
                          <span class="form-control-sm">Customers</span>
                          <input
                            type="radio"
                            id="html"
                            name="fav_language"
                            value=""
                          />
                          <select
                            class="ml-2 selectorBox form-control-sm"
                          ></select>
                        </div>
                        <div class="sel-opt">
                          <span class="ml-2 form-control-sm">Country</span>
                          <input
                            type="radio"
                            id="html"
                            name="fav_language"
                            value=""
                          />
                          <select
                            class="ml-2 selectorBox form-control-sm"
                          ></select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 borderLine active_count">
                    <div id="datatable_filter" class="dataTables_filter">
                      <label class="d-flex"
                        >Search:<input
                          type="search"
                          class="form-control form-control-sm searchInp"
                          placeholder=""
                          aria-controls="datatable"
                      /></label>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-4">
                        <button type="submit" class="btn btn-secondary">
                          GENERATE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="active_count">
                      <label class="mr-2"
                        >Total Active Number's Allover Country :</label
                      >
                      <label for="">150</label>
                    </div>
                    <table
                      id="datatable"
                      class="table datatable-style-1"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Country Name</th>
                          <th>Customer Name</th>
                          <th>Active Tollfree Numbers</th>
                          <th>Active Virtual Numbers</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>India</td>
                          <td>Anish De</td>
                          <td>30</td>
                          <td>20</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Austria</td>
                          <td>Rahul</td>
                          <td>25</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Bangladesh</td>
                          <td>Adrija</td>
                          <td>10</td>
                          <td>20</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="row page-wrapper-topbar align-items-center">
                  <div class="col col-md-12">
                    <ol class="breadcrumb borderLine">
                      <li class="breadcrumb-item custo-size">
                        Country &amp; Customer wise Tollfree and Virtual Numbers
                      </li>
                    </ol>
                    <button class="refreshBtn">
                      <i class="fas fa-sync-alt"></i>
                    </button>
                    <div class="col col-md-12 borderLine">
                      <div class="row">
                        <div class="col-md-6 redioOption">
                          <div class="selectItem">
                            <span class="redioName form-control-sm nowrap"
                              >Select all</span
                            >
                            <input
                              type="radio"
                              id="html"
                              name="countryOptions"
                              value=""
                            />
                          </div>
                          
                          <div class="selectItem">
                            <span class="redioName form-control-sm"
                              >Tollfree</span
                            >
                            <input
                              type="radio"
                              id="html"
                              name="countryOptions"
                              value=""
                            />
                          </div>
                          <div class="selectItem">
                            <span class="redioName form-control-sm"
                              >Virtual</span
                            >
                            <input
                              type="radio"
                              id="html"
                              name="countryOptions"
                              value=""
                            />
                          </div>
                          <div class="selectItem form-control-sm">
                            <span class="redioName"
                              >Status</span
                            >
                            <input
                              type="radio"
                              id="html"
                              name="countryOptions"
                              value=""
                            />
                            <select class="selectorBox pr-1 form-control-sm ml-1">
                              <option value="">Active</option>
                              <option value="">Deactive</option>
                              <option value="">Waiting for KYC</option>
                            </select>
                          </div>
                        </div>
                        <div class="col col-md-6">
                          <div class="selectOptionDiv">
                            <div class="selectOption">
                              <span class="redioName form-control-sm"
                                >Customer</span
                              >
                              <input
                                type="radio"
                                id="html"
                                name="countryOptions"
                                value=""
                              />
                              <select
                                class="selectorBox pr-1 form-control-sm ml-1"
                              ></select>
                            </div>
                          <!-- </div>
                          <div class="selectOptionDiv"> -->
                            <div class="selectOption">
                              <span class="redioName form-control-sm"
                                >Country</span
                              >
                              <input
                                type="radio"
                                id="html"
                                name="countryOptions"
                                value=""
                              />
                              <select
                                class="selectorBox pr-1 form-control-sm ml-1"
                              ></select>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-12 borderLine active_count">
                    <div
                      id="datatable_filter"
                      class="dataTables_filter col-md-6"
                    >
                      <label class="d-flex"
                        >Search:<input
                          type="search"
                          class="form-control form-control-sm searchInp w-25"
                          placeholder=""
                          aria-controls="datatable"
                      /></label>
                    </div>
                    <div class="row justify-content-end col-md-6">
                      <div class="form-group col-sm-4">
                        <button type="submit" class="btn btn-secondary">
                          GENERATE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <table
                      id="datatable"
                      class="table datatable-style-1"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Country Name</th>
                          <th>Customer Name</th>
                          <th>Tollfree Number</th>
                          <th>Virtual Number</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>India</td>
                          <td>Anish De</td>
                          <td>9148567325</td>
                          <td>8826549874</td>
                          <td>Active</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Austria</td>
                          <td>Rahul</td>
                          <td>9862456782</td>
                          <td>7835959548</td>
                          <td>Deactive</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Bangladesh</td>
                          <td>Adrija Khan</td>
                          <td>8978659866</td>
                          <td>0955786598</td>
                          <td>Waiting for KYC</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-frame>
