<app-frame>
  <ng-container class="child">
    <div class="container-fluid">
      <div class="row page-wrapper-topbar align-items-center">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Addministated List</li>
          </ol>
          <span>Total Number Of Addministated</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <table
            id="datatable"
            class="table datatable-style-1 datatableSize"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>SL.NO</th>
                <th>ADDMINISTATED NAME</th>
                <th>DATE & TIME OF CREATION</th>
                <th>ADDMINISTATED PHONE NUMBER</th>
                <th>ADDMINISTATED EMAIL</th>
                <th>STATUS</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Adrija Paul</td>
                <td>12-12-21 at 05:30PM</td>
                <td>Roaming</td>
                <td>Rd@gmail.com</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#modifyViewCustomerDetails"
                          href="#"
                          ><i class="lni lni-eye"></i>View</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Deactivate/Activate</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Adrija Paul</td>
                <td>12-12-21 at 05:30PM</td>
                <td>Roaming</td>
                <td>Rd@gmail.com</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#modifyViewCustomerDetails"
                          href="#"
                          ><i class="lni lni-eye"></i>View</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Deactivate/Activate</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Adrija Paul</td>
                <td>12-12-21 at 05:30PM</td>
                <td>Roaming</td>
                <td>Rd@gmail.com</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#modifyViewCustomerDetails"
                          href="#"
                          ><i class="lni lni-eye"></i>View</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Deactivate/Activate</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Adrija Paul</td>
                <td>12-12-21 at 05:30PM</td>
                <td>Roaming</td>
                <td>Rd@gmail.com</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#modifyViewCustomerDetails"
                          href="#"
                          ><i class="lni lni-eye"></i>View</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Deactivate/Activate</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Adrija Paul</td>
                <td>12-12-21 at 05:30PM</td>
                <td>Roaming</td>
                <td>Rd@gmail.com</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#modifyViewCustomerDetails"
                          href="#"
                          ><i class="lni lni-eye"></i>View</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Deactivate/Activate</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>Adrija Paul</td>
                <td>12-12-21 at 05:30PM</td>
                <td>Roaming</td>
                <td>Rd@gmail.com</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#modifyViewCustomerDetails"
                          href="#"
                          ><i class="lni lni-eye"></i>View</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Deactivate/Activate</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>

              <tr>
                <td>7</td>
                <td>Adrija Paul</td>
                <td>12-12-21 at 05:30PM</td>
                <td>Roaming</td>
                <td>Rd@gmail.com</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#modifyViewCustomerDetails"
                          href="#"
                          ><i class="lni lni-eye"></i>View</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Deactivate/Activate</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td>Adrija Paul</td>
                <td>12-12-21 at 05:30PM</td>
                <td>Roaming</td>
                <td>Rd@gmail.com</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#modifyViewCustomerDetails"
                          href="#"
                          ><i class="lni lni-eye"></i>View</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Deactivate/Activate</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</app-frame>
