<app-frame>
  <ng-container class="child">
    <div class="container-fluid">
      <div class="row page-wrapper-topbar align-items-center">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Create Permission</li>
          </ol>
        </div>
        <!-- href="create-new-plan.html" -->
        <a
          class="btn theme-btn btnBgBlue"
          data-bs-toggle="modal"
          data-bs-target="#addNewRole"
          >Add New Permission
        </a>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <table
            id="datatable"
            class="table datatable-style-1 datatableSize"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>SL.NO</th>
                <th>Permission NAME</th>
                <th>DATE OF CREATION</th>
                <th>STATUS</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>View Customer Module</td>
                <td>20-11-21</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#tempdeactivated"
                          href="#"
                          ><i class="lni lni-eye"></i>Temp Deactivate</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Permission Module</td>
                <td>20-11-21</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#tempdeactivated"
                          href="#"
                          ><i class="lni lni-eye"></i>Temp Deactivate</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>User Module</td>
                <td>10-10-21</td>
                <td class="status"><span class="active">Active</span></td>
                <td class="action">
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuAction"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuAction"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#tempdeactivated"
                          href="#"
                          ><i class="lni lni-eye"></i>Temp Deactivate</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-pencil"></i>Edit</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="lni lni-trash"></i>Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</app-frame>

<!-- //modal- tempoorary deactiveted // -->
    <div
      class="modal fade"
      id="tempdeactivated"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="tempdeactivatedLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content rounded-modal">
          <div class="modal-header border-bottom-0">
            <!-- <h5 class="modal-title" id="tempdeactivatedLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body text-center">
            Your module is now tempoorary deactivated.
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              class="btn btn-primary btnOksize"
              data-bs-dismiss="modal"
            >
              seve
            </button>
            <!-- <button type="button" class="btn btn-primary">Understood</button> -->
          </div>
        </div>
      </div>
    </div>
     <!-- //modal- tempoorary deactiveted end // -->
     <!-- // modal Add New Permission // -->
    <div
      class="modal fade"
      id="addNewRole"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="addNewRoleLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel">
              Add New Permission
            </h5>
            <!-- <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button> -->
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  >Permission Name</label
                >
                <input type="text" class="form-control" id="recipient-name" />
              </div>
            </form>
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- // modal Add New Permission end // -->
