<app-frame>
  <ng-container class="child">
    <div class="container-fluid">
      <div class="row page-wrapper-topbar align-items-center pl-2">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item kyc-size">View KYC Details</li>
          </ol>
        </div>
      </div>
      <div class="pl-4 d-flex align-items-center">
        <h5 class="mr-2">Customer Name :</h5>
        <h6 class=""> Anish De</h6>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-sm-12">
            <form>
            <div class="row main-form-wrapper" id="create-plan">
              <div class="col-md-6">
                <label>Register Email Id :</label>
                <label class="label form-control">ad@gmail.com</label>
              </div>
              <div class="col-md-6">
                <label>Register Phone No :</label>
                <label class="label form-control">9985674487</label>
              </div>
              <div class="col-md-12">
                <label>Address :</label>
                <label class="label form-control">Kolkata</label>
              </div>
              <div class="col-md-4">
                <label>State :</label>
                <label class="label form-control">WB</label>
              </div>
              <div class="col-md-4">
                <label>City :</label>
                <label class="label form-control">Kolkata</label>
              </div>
              <div class="col-md-4">
                <label>Pincode :</label>
                <label class="label form-control">700109</label>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="pl-4 mt-4">
        <h5>KYC Details</h5>
      </div>
      <section class="section">
        <div class="container mt-4">
          <div class="row">
            <div
              class="
                col-12 col-sm-10
                offset-sm-1
                col-md-8
                offset-md-2
                col-lg-8
                offset-lg-2
                col-xl-12
                offset-xl-3
                mx-auto
              "
            >
              <div class="alert" id="message" style="display: none"></div>
              <div class="col-12 col-md-12 col-sm-12 p-1">
                <div class="card main-form-wrapper">
                  <!-- <div class="card-header pt-4">
                          <div
                            class="d-flex flex-column bd-highlight mb-0 mt-2"
                          >
                            <div class="bd-highlight">
                              <h4>KYC Compliance</h4>
                            </div>
                            <div class="bd-highlight">
                              Your Company Details are required to meet KYC
                              compliance
                            </div>
                          </div>
                        </div> -->
                  <div class="card-body">
                    <div class="col-12">
                      <div class="row res_kyc">
                        <div class="form-group col-6 col-md-6 mb-3">
                          <label class="label nowrap">Company Name</label>
                          <label class="label form-control form-control-sm"
                            >Toggle</label
                          >
                        </div>

                        <div class="form-group col-6 col-md-6 mb-3">
                          <label class="label">Entity Type</label>
                          <label class="label form-control form-control-sm"
                            ></label
                          >
                          <!-- <select
                                  class="form-control form-control-sm"
                                  id="entity"
                                  name="entity"
                                >
                                  <option>Bank</option>
                                  <option>Partnership</option>
                                  <option>Association</option>
                                  <option>Partnership Firm</option>
                                  <option>
                                    Limited Liability Partnership Firm
                                  </option>
                                  <option>Private Limited Company</option>
                                  <option>Public Limited Company</option>
                                  <option>Public Sector Unit</option>
                                </select> -->
                        </div>
                        <div class="col-12 col-md-6 px-0 pt-3 pb-3">
                          <div
                            class="
                              form-group
                              col-12 col-md-12
                              mb-2
                              card-dis
                              res_panBx
                            "
                          >
                            <div class="pan_box">
                              <div class="pan_num res_panWidth">
                                <label class="label res_lable" for="html"
                                  >PAN :</label
                                >
                              </div>
                              <div class="pan_num">
                                <label class="label res_lable" for="html"
                                  >369258147963</label
                                >
                              </div>
                            </div>
                            <div class="pan-card">
                              <div class="pan-img">
                                <img
                                  src="assets/demo-img/bar-chart-1.png"
                                  alt=""
                                />
                              </div>
                              <div class="pan-danw">
                                <a
                                  _ngcontent-ame-c194=""
                                  href="#"
                                  id="download"
                                  class="btn btn-outline-dark res_dow"
                                  ><i
                                    _ngcontent-ame-c194=""
                                    aria-hidden="true"
                                    class="fa fa-download"
                                  ></i>
                                  <span class="opt-dow">Download</span>
                                </a>
                              </div>
                              <div class="checkmark-div ml-2">
                                <input
                                  type="checkbox"
                                  id="chkgstin"
                                  name="chkgstin"
                                />
                              </div>
                            </div>
                          </div>
                          <div
                            class="
                              form-group
                              col-12 col-md-12
                              mb-3
                              card-dis
                              res_panBx
                            "
                          >
                            <!-- <input
                                    type="checkbox"
                                    id="chkgstin"
                                    name="chkgstin"
                                  /> -->
                            <div class="pan_box">
                              <div class="pan_num res_gstWidth">
                                <label class="label res_lable" for="html"
                                  >GSTIN :</label
                                >
                              </div>
                              <div class="pan_num">
                                <label class="label res_lable" for="html"
                                  >115346559613</label
                                >
                              </div>
                            </div>
                            <div class="pan-card">
                              <div class="pan-img">
                                <img
                                  src="assets/demo-img/bar-chart-1.png"
                                  alt=""
                                />
                              </div>
                              <div class="pan-danw">
                                <a
                                  _ngcontent-ame-c194=""
                                  href="#"
                                  id="download"
                                  class="btn btn-outline-dark res_dow"
                                  ><i
                                    _ngcontent-ame-c194=""
                                    aria-hidden="true"
                                    class="fa fa-download"
                                  ></i>
                                  <span class="opt-dow">Download</span>
                                </a>
                              </div>
                              <div class="checkmark-div ml-2">
                                <input
                                  type="checkbox"
                                  id="chkgstin"
                                  name="chkgstin"
                                />
                              </div>
                            </div>
                          </div>
                          <div
                            class="
                              form-group
                              col-12 col-md-12
                              mb-2
                              card-dis
                              res_panBx
                            "
                          >
                            <div class="pan_box">
                              <div class="pan_num res_addrs">
                                <label class="label res_lable" for="html"
                                  >Address Type :</label
                                >
                              </div>
                              <div class="pan_num">
                                <label class="label res_lable" for="html"
                                  >369258147963</label
                                >
                              </div>
                            </div>
                            <div class="pan-card">
                              <div class="pan-img">
                                <img
                                  src="assets/demo-img/bar-chart-1.png"
                                  alt=""
                                />
                              </div>
                              <div class="pan-danw">
                                <a
                                  _ngcontent-ame-c194=""
                                  href="#"
                                  id="download"
                                  class="btn btn-outline-dark res_dow"
                                  ><i
                                    _ngcontent-ame-c194=""
                                    aria-hidden="true"
                                    class="fa fa-download"
                                  ></i>
                                  <span class="opt-dow">Download</span>
                                </a>
                              </div>
                              <div class="checkmark-div ml-2">
                                <input
                                  type="checkbox"
                                  id="chkgstin"
                                  name="chkgstin"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Verify KYC
        </button>
      </div>
    </div>
  </ng-container>
</app-frame>
