<nav class="sb-topnav navbar navbar-expand bg-gray">
  <a class="navbar-brand" href="index.html"
    >Toggle
    <p>Super Admin</p></a
  >

  <button
    class="btn btn-link btn-sm order-1 order-lg-0"
    id="sidebarToggle"
    href="#"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Right Top -->
  <ul class="navbar-nav navbar-right align-items-center ml-auto">
    <li class="suppport mr-4">
      <a href=""><i class="lni lni-headphone-alt"></i>Support</a>
    </li>
    <li class="nav-item dropdown user-account">
      <a
        class="nav-link dropdown-toggle"
        id="userDropdown"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="user-gravatar">J</span>
        <span class="user"> John Doe</span></a
      >
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="userDropdown"
      >
        <a class="dropdown-item" href="">
          <span><i class="fas fa-user"></i></span>Profile
        </a>
        <a class="dropdown-item" href="">
          <span><i class="fas fa-key"></i></span>Change Password
        </a>
        <a class="dropdown-item" href="">
          <span><i class="fas fa-sign-out-alt"></i></span>Log out
        </a>
      </div>
    </li>
  </ul>
</nav>
