<app-frame>
  <ng-container class="child">
    <div class="container-fluid">
      <section class="section">
        <div class="section-body">
          <div class="row page-wrapper-topbar align-items-center">
            <div class="col">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Call Statistics</li>
              </ol>
              <!-- <span>Total Customer</span> -->
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <!-- <div class="mb-2 ml-2">
              <h6>Get an overview of your activity</h6>
            </div> -->
              <div class="call_box flex-wrap mb-4">
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/timmer.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Total Calls</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      01:11 <small>min</small>
                    </p>
                    <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/callin.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Missed Calls</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      2,234
                    </p>
                    <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/callout.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Calls Waiting</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      545
                    </p>
                    <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/group.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Longest wating time</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      00:20 <small>sec </small>
                    </p>
                    <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/timmer.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Average waiting time</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      01:11 <small>min</small>
                    </p>
                    <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
              </div>
              <div class="call_box flex-wrap mb-4">
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/timmer.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Average Call time</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      01:11 <small>min</small>
                    </p>
                     <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/timmer.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Total Inbound Call</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      01:11 <small>min</small>
                    </p>
                     <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/timmer.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Total Outbound Call</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      01:11 <small>min</small>
                    </p>
                     <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
                <div class="p-2 divBox2">
                  <div class="divBoxInnerRedious text-center">
                    <img
                      alt="image"
                      class="divBoxImg"
                      src="/assets/img/icons/timmer.png"
                    />
                  </div>
                  <div
                    class="icon-class text-center mt-2"
                    style="
                      font-size: 11px !important;
                      line-height: 1px !important;
                    "
                  >
                    <p class="mb-0 paragraphset">Total Per Percent Calls</p>
                    <p class="mt-0 mb-3 paragraphset" style="font-size: 18px">
                      01:11 <small>min</small>
                    </p>
                     <a
                      class="mt-0 mb-3 paragraphset"
                      href=""
                      style="font-size: 16px"
                      >View</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">All Call's</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL MISSED CALL</th>
                    <th>TOTAL INCOMING CALL</th>
                    <th>TOTAL OUT GOING CALL</th>
                    <th>AVERAGE CALL WAITING TIME</th>
                    <th>AVERAGE LONGEST WAITING TIME</th>
                    <th>TOTAL CALL DURATION</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td>14</td>
                    <td>20</td>
                    <td>01:20:40sec</td>
                    <td>10:20:40sec</td>
                    <td>30sec</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Total Missed Call's</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL MISSED CALL</th>
                    <th>TOTAL CALL DURATION</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td>30sec</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Total Inbound Call's</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL Inbound CALL</th>
                    <th>TOTAL CALL DURATION</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td>30sec</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Total Outbound Call's</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL Outbound CALL</th>
                    <th>TOTAL CALL DURATION</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td>30sec</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Total Per Percent Call's</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL PER PERCENT CALL</th>
                    <th>TOTAL CALL DURATION</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td>30sec</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Total Average Call's</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL Average CALL</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Total Call's Waiting</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL CALL waiting</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Total Longest Waiting Call Time</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL Longest Waiting CALL</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Total Average Waiting Call Time</li>
            </ol>
          </div>
          <div class="selec_box">
            <div class="redioSel borderLine">
              <div class="selectItem mr-3">
                <span class="redioName mr-1">View All</span>
                <input type="radio" id="html" name="fav_language" value="" />
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Team</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">RD IT</option>
                  <option value="">Toggle</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By User</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">Rabin</option>
                  <option value="">Bappa</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">View By Number</span>
                <input type="radio" id="html" name="fav_language" value="" />
                <select class="form-control expt-sel ml-1">
                  <option value="">9865324578</option>
                  <option value="">8798456532</option>
                </select>
              </div>
            </div>
            <div class="redioSel borderLine">
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date To</span>
                <select class="form-control expt-sel ml-1"><option value="">10-10-21</option>
                </select>
              </div>
              <div class="selectItem mr-3 selec-use">
                <span class="redioName mr-1">Date From</span>
                <select class="form-control expt-sel ml-1"><option value="">12-12-21</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <table
                id="datatable"
                class="table datatable-style-1 datatableSize"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>SL.NO</th>
                    <th>ACCOUNT MANEGER NAME</th>
                    <th>CALL FROM</th>
                    <th>CALL TO</th>
                    <th>DATE OF CALL</th>
                    <th>TIME OF CALL</th>
                    <th>TOTAL Average Waiting CALL</th>
                    <th>EXPORT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Adrija Paul</td>
                    <td>9903468267</td>
                    <td>8905647646</td>
                    <td>12-02-21</td>
                    <td>05:30PM</td>
                    <td>3</td>
                    <td class="action">
                      <div class="dropdown">
                        <button
                          class="btn"
                          type="button"
                          id="dropdownMenuAction"
                          data-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuAction"
                        >
                          <li>
                            <a class="dropdown-item" href="#">CSV</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">PDF</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <a class="dropdown-item" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer border-top-0">
                <div class="d-flex mb-3">
                  <label class="expt-set">Export :</label>
                  <select class="form-control expt-sel">
                    <option value="">CSV</option>
                    <option value="">PDF</option>
                    <option value="">EXCEL</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ng-container>
</app-frame>
