<app-frame>
  <ng-container class="child">
    <div class="container-fluid">
      <div class="row page-wrapper-topbar align-items-center pl-2">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item kyc-size">View Plan Details</li>
          </ol>
        </div>
      </div>
      <div class="pl-4">
        <h5>Customer Name : Adrija Paul</h5>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-sm-12">
            <form>
              <div class="row main-form-wrapper" id="create-plan">
                <div class="col-md-6">
                  <label>Register Email Id :</label>
                  <!-- <lable class="form-control"></lable> -->
                  <label class="label form-control form-control-sm"
                    >Toggle@gamil.com</label
                  >
                </div>
                <div class="col-md-6">
                  <label>Register Phone No :</label>
                  <!-- <lable class="form-control"></lable> -->
                  <label class="label form-control form-control-sm"
                    >9156328560</label
                  >
                </div>
                <div class="col-md-12 mb-4">
                  <label>Address :</label>
                  <label class="label form-control form-control-sm"></label>
                  <!-- <textarea
                          class="form-control px-2 mr-3"
                          type="text"
                          id="ans"
                          name="address"
                          placeholder="Enter Your Address"
                        ></textarea> -->
                </div>
                <div class="col-md-4">
                  <label>State :</label>
                  <label class="label form-control">Bank</label>
                </div>
                <div class="col-md-4">
                  <label>City :</label>
                  <label class="label form-control">Bank</label>
                </div>
                <div class="col-md-4">
                  <label>Pincode :</label>
                  <label class="label form-control">Bank</label>
                  <!-- <input
                          class="form-control px-3 mr-3"
                          type="text"
                          placeholder="Enter Your Pincode"
                        /> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="pl-4 mt-4">
        <h5>Check KYC Details</h5>
        <p>
          This Customer Had Submited, Hes KYC And Verifyed By Superaddmin
          <a
            class=""
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#viewForCustomer"
            style="
              color: #0d83da !important;
              cursor: pointer;
              border-bottom: 1px solid #0b83ba;
            "
          >
            Click On View For Customer</a
          >
        </p>
      </div>
      <section class="section">
        <div class="container mt-4">
          <div class="row">
            <div
              class="
                col-12 col-sm-10
                offset-sm-1
                col-md-12
                offset-md-2
                col-lg-8
                offset-lg-2
                col-xl-12
                offset-xl-3
                mx-auto
                res_planDtls
              "
            >
              <div class="alert" id="message" style="display: none"></div>
              <div class="col-md-4 col-sm-12 p-1">
                <div class="mt-4">
                  <h5>Plan Details</h5>
                </div>
                <div class="card card-shadow " style="box-shadow: 2px 4px 1rem 12px rgb(226 226 226 / 29%)">
                  <div class="card-body">
                    <div class="col-12">
                      <div class="">
                        <div class="form-group col-12 col-md-12 mb-3">
                          <label class="label nowrap">Plan Name</label>
                          <label class="label form-control form-control-sm"
                            >200</label
                          >
                        </div>

                        <div class="form-group col-12 col-md-12 mb-3">
                          <label class="label nowrap">Plan Descreption</label>
                          <label class="label form-control form-control-sm"
                            >Toggle</label
                          >
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                          <label class="label nowrap"
                            >Duration Of Current Plan</label
                          >
                          <label class="label form-control form-control-sm"
                            >Toggle</label
                          >
                        </div>
                      </div>
                      <div class="">
                        <div class="form-group col-12 col-md-12 mb-3">
                          <label class="label">Plan Renewal Date</label>
                          <label class="label form-control form-control-sm"
                            >21-12-21</label
                          >
                        </div>

                        <div class="form-group col-12 col-md-12 mb-3">
                          <label class="label nowrap">Plan Expiry Date</label>
                          <label
                            class="label form-control form-control-sm"
                          >21-12-22</label>
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                          <label class="label nowrap"
                            >Remaining Day's Of Plan</label
                          >
                          <label
                            class="label form-control form-control-sm"
                          >366 Days</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 p-1">
                <div class="col-md-12 col-sm-12 p-1">
                  <div class="mt-4">
                    <h5>Plan Facility</h5>
                  </div>
                  <div class="card card-shadow " style="box-shadow: 2px 4px 1rem 12px rgb(226 226 226 / 29%)">
                    <div class="card-body pb-0">
                      <div class="col-12">
                        <div class="">
                          <div class="form-group col-12 col-md-12 mb-3">
                            <div class="pricing-item">
                              <div class="pricing-item-icon ng-star-inserted">
                                <i class="fas fa-check"></i>
                              </div>
                              <div class="pricing-item-label">
                                Make your own call flow
                              </div>
                            </div>
                            <!-- </div>

                              <div class="form-group col-6 col-md-12 mb-3"> -->
                            <div class="pricing-item">
                              <div class="pricing-item-icon ng-star-inserted">
                                <i class="fas fa-check"></i>
                              </div>
                              <div class="pricing-item-label">
                                Make your own call flow
                              </div>
                            </div>
                            <!-- </div>
                              <div class="form-group col-6 col-md-12 mb-3"> -->
                            <div class="pricing-item">
                              <div class="pricing-item-icon ng-star-inserted">
                                <i class="fas fa-check"></i>
                              </div>
                              <div class="pricing-item-label">Chat Support</div>
                            </div>
                            <!-- </div>
                              <div class="form-group col-6 col-md-12 mb-3"> -->
                            <div class="pricing-item">
                              <div class="pricing-item-icon ng-star-inserted">
                                <i class="fas fa-check"></i>
                              </div>
                              <div class="pricing-item-label">
                                Own analytics platforms
                              </div>
                            </div>
                            <!-- </div>
                              <div class="form-group col-6 col-md-12 mb-3"> -->
                            <div class="pricing-item">
                              <div class="pricing-item-icon">
                                <i class="fas fa-check"></i>
                              </div>
                              <div
                                class="pricing-item-label"
                                style="margin-top: 3px"
                              >
                                User's 20
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 p-1 pb-0">
                  <div class="mt-1">
                    <h5>Plan Amount</h5>
                  </div>
                  <div class="card card-shadow " style="box-shadow: 2px 4px 1rem 12px rgb(226 226 226 / 29%)">
                    <div class="card-body pb-0">
                      <div class="col-12">
                        <div class="">
                          <div class="form-group col-12 col-md-12 mb-3 d-flex">
                            <label class="label nowrap mr-2 w-50"> Amount</label>
                            <label
                              class="
                                label
                                form-control form-control-sm
                                text-right
                                w-50
                              "
                              >200</label
                            >
                          </div>

                          <div class="form-group col-12 col-md-12 mb-3 d-flex">
                            <label class="label nowrap mr-2 w-50">CGST</label>
                            <label
                              class="
                                label
                                form-control form-control-sm
                                text-right
                                w-50
                              "
                              >10%</label
                            >
                          </div>
                          <div class="form-group col-12 col-md-12 mb-3 d-flex">
                            <label class="label nowrap mr-2 w-50">SGST</label>
                            <label
                              class="
                                label
                                form-control form-control-sm
                                text-right
                                w-50
                              "
                              >8%</label
                            >
                          </div>
                          <div class="form-group col-12 col-md-12 mb-3 d-flex">
                            <label class="label nowrap mr-2 w-50">IGST</label>
                            <label
                              class="
                                label
                                form-control form-control-sm
                                text-right
                                w-50
                              "
                              >12%</label
                            >
                          </div>
                          <div class="form-group col-12 col-md-12 mb-3 d-flex">
                            <label class="label nowrap mr-2"
                              >Total Amount</label
                            >
                            <label
                              class="
                                label
                                form-control form-control-sm
                                text-right
                              "
                              >300</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 p-1">
                <div class="mt-4">
                  <h5>Payment Detailes</h5>
                </div>
                <div class="card card-shadow " style="box-shadow: 2px 4px 1rem 12px rgb(226 226 226 / 29%)">
                  <div class="card-body pb-0">
                    <div class="col-12">
                      <div class="">
                        <div class="form-group col-12 col-md-12 mb-3 ">
                          <label class="label nowrap mr-2">
                            Customer Name</label
                          >
                          <label
                            class="
                              label
                              form-control form-control-sm
                              text-right
                            "
                            >Adrija Paul</label
                          >
                        </div>

                        <div class="form-group col-12 col-md-12 mb-3">
                          <label class="label nowrap mr-2">Payment Type</label>
                          <label
                            class="
                              label
                              form-control form-control-sm
                              text-right
                            "
                            >Online</label
                          >
                        </div>
                        <!-- <div
                          class="form-group col-12 col-md-12 mb-3 d-flex"
                        ></div> -->
                        <div class="form-group col-12 col-md-12 mb-3">
                          <label class="label nowrap mr-2">Payment Date</label>
                          <label
                            class="
                              label
                              form-control form-control-sm
                              text-right
                            "
                            >20-12-21</label
                          >
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3 d-flex">
                          <label class="label nowrap"
                            >Status Of The Payment :</label
                          >
                          <label
                            class="
                              label
                              ml-3                                                      
                            "
                            style="color: #228B22;"
                            >Success
                            <a
                              class="label nowrap"
                              data-bs-toggle="modal"
                              data-bs-target="#viewTransaction"
                              href="#"
                              style="
                                color: #0d83da !important;
                                cursor: pointer;
                                text-decoration: none;
                                font-size: 10px;
                              "
                              >View Transaction</a
                            ></label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Save
        </button>
      </div>
    </div>
  </ng-container>
</app-frame>

<!-- Modal View For Customer -->
    <div
      class="modal fade"
      id="viewForCustomer"
      tabindex="-1"
      aria-labelledby="viewForCustomerLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewForCustomerLabel">KYC Details</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label class="label nowrap">Company Name</label>
                <label class="label form-control form-control-sm">Toggle</label>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >Entity Type:</label
                >
                <label class="label form-control form-control-sm">Toggle</label>
              </div>
            </form>
          </div>
          <div class="col-12 col-md-6 px-0 pt-3 pb-3 pl-2">
            <div class="form-group col-12 col-md-12 mb-2 card-dis res_panBx">
              <div class="pan_box">
                <div class="pan_num res_panWidth">
                  <label class="label res_lable" for="html">PAN :</label>
                </div>
                <div class="pan_num">
                  <label class="label res_lable" for="html">369258147963</label>
                </div>
              </div>
              <div class="pan-card">
                <div class="pan-img">
                  <img src="assets/demo-img/bar-chart-1.png" alt="" />
                </div>
                <div class="pan-danw">
                  <a
                    _ngcontent-ame-c194=""
                    href="#"
                    id="download"
                    class="btn btn-outline-dark res_dow nowrap"
                    ><i
                      _ngcontent-ame-c194=""
                      aria-hidden="true"
                      class="fa fa-download"
                    ></i>
                    <span class="opt-dow">Download</span>
                  </a>
                </div>
                <div class="checkmark-div ml-2">
                  <input type="checkbox" id="chkgstin" name="chkgstin" />
                </div>
              </div>
            </div>
            <div class="form-group col-12 col-md-12 mb-3 card-dis res_panBx">
              <div class="pan_box">
                <div class="pan_num res_gstWidth">
                  <label class="label res_lable" for="html">GSTIN :</label>
                </div>
                <div class="pan_num">
                  <label class="label res_lable" for="html">369258147963</label>
                </div>
              </div>
              <div class="pan-card">
                <div class="pan-img">
                  <img src="assets/demo-img/bar-chart-1.png" alt="" />
                </div>
                <div class="pan-danw">
                  <a
                    _ngcontent-ame-c194=""
                    href="#"
                    id="download"
                    class="btn btn-outline-dark res_dow nowrap"
                    ><i
                      _ngcontent-ame-c194=""
                      aria-hidden="true"
                      class="fa fa-download"
                    ></i>
                    <span class="opt-dow">Download</span>
                  </a>
                </div>
                <div class="checkmark-div ml-2">
                  <input type="checkbox" id="chkgstin" name="chkgstin" />
                </div>
              </div>
            </div>
            <div class="form-group col-12 col-md-12 mb-2 card-dis res_panBx">
              <div class="pan_box">
                <div class="pan_num res_addrs">
                  <label class="label res_lable" for="html"
                    >Address Type :</label
                  >
                </div>
                <div class="pan_num">
                  <label class="label res_lable" for="html">369258147963</label>
                </div>
              </div>
              <div class="pan-card">
                <div class="pan-img">
                  <img src="assets/demo-img/bar-chart-1.png" alt="" />
                </div>
                <div class="pan-danw">
                  <a
                    _ngcontent-ame-c194=""
                    href="#"
                    id="download"
                    class="btn btn-outline-dark res_dow nowrap"
                    ><i
                      _ngcontent-ame-c194=""
                      aria-hidden="true"
                      class="fa fa-download"
                    ></i>
                    <span class="opt-dow">Download</span>
                  </a>
                </div>
                <div class="checkmark-div ml-2">
                  <input type="checkbox" id="chkgstin" name="chkgstin" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <!-- <button type="button" class="btn btn-primary">Send message</button> -->
          </div>
        </div>
      </div>
    </div>
<!-- //modal- View For Customer end // -->

 <!-- //modal- view for Transaction // -->
    <div
      class="modal fade"
      id="viewTransaction"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-2"
      aria-labelledby="viewTransactionLabel"
      aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content rounded-modal">
            <div class="modal-header">
              <div class="row page-wrapper-topbar align-items-center m-0 p-0">
                <div class="col col-md-12">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Customer Name : Adrija paul</li>
                  </ol>
                </div>
                <div class="col-sm-12 col-md-12">
                  <div id="datatable_filter" class="dataTables_filter">
                    <label class="d-flex"
                      >Search:<input
                        type="search"
                        class="form-control form-control-sm searchInp"
                        placeholder=""
                        aria-controls="datatable"
                    /></label>
                  </div>
                </div>
              </div>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body col-md-12 pb-0">
              <div clss="row">
                <div class="m-2 border-0">                  
                  <div class="row">
                    <div class="overflow-auto m-2 border rounded">
                      <table
                        id="datatable"
                        class="table datatable-style-1 Customerdatatable"
                        style="width: 100%; text-align: center;"
                      >
                        <thead>
                          <tr>
                            <th>Sl No</th>
                            <th>Date And Time Transaction</th>
                            <th>Customer Name</th>
                            <th>Mode Of Payment</th>
                            <th>Disscount</th>
                            <th>Amount</th>
                            <th>SGST</th>
                            <th>IGST</th>
                            <th>CGST</th>
                            <th>Total Amount</th>
                            <th>Payment Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>12/12/21 at 05:20 pm</td>
                            <td>adrija paul</td>
                            <td>Debid card</td>
                            <td>0.00%</td>
                            <td>1000</td>
                            <td>2.50%</td>
                            <td>0</td>
                            <td>2.50%</td>
                            <td>1500</td>
                            <td style="color:#DC143C; font-weight: 600; font-size: 14px;">Faild</td>
                            <td style="color:#0d83da; cursor:pointer">View</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>15/12/21 at 6.0am</td>
                            <td>adrija paul</td>
                            <td>Upi</td>
                            <td>0.00%</td>
                            <td>1000</td>
                            <td>2.50%</td>
                            <td>0</td>
                            <td>2.50%</td>
                            <td>1500</td>
                            <td style="color:#008000; font-weight: 600; font-size: 14px;">Success</td>
                            <td style="color:#0d83da; cursor:pointer">View</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer border-top-0">
              <button
                type="button"
                class="btn btn-primary btnOksize"
                data-bs-dismiss="modal"
              >
                OK
              </button>
              
            </div>
          </div>
        </div>     
    </div>
    <!-- //modal- view end // -->
